:root {
    --sms-white: #fff;
    --sms-black: #000;
    --sms-primary-green: #15a828;
    --sms-primary-orange: #dd681a;
    --sms-secondary-orange: #f7a297;
    --sms-primary-black: #353f45;
    --sms-primary-blue: #4285f4;
    --sms-primary-purple: #605bff;
    --sms-primary-gray: #ececec;
    --sms-secondary-gray: #c4c4c4;
    --sms-tertiary-gray: #9796a7;

    --sms-bg-color: #fafafb;

    --bs-body-color: #697a8d;
}

/* Layout */
#sms-layout-wrapper {
    scroll-behavior: smooth;
}

.sms-page-body {
    /* 100 vh - headerHeight - footerHeight - breadCrumb */
    min-height: calc(100vh - 50px - 50px - 40px);
}

.sms-main-content {
    min-height: 100vh;
    background-color: var(--sms-bg-color);
}

.sms-main-content main {
    padding: 0.3rem 1rem 0rem 1rem;
}

.sms-breadcrumb {
    padding: 0.5rem 1rem;
    background-color: var(--sms-white);
}

.sms-page-body {
    padding-top: 0.5rem;
}

/* Common */
.text-tertiary-gray {
    color: var(--sms-tertiary-gray);
}

.text-primary-green {
    color: var(--sms-primary-green);
}

.text-primary-blue {
    color: var(--sms-primary-blue);
}

.text-white {
    color: var(--sms-white);
}

.text-black {
    color: var(--sms-black);
}

.text-bs-body {
    color: var(--bs-body-color);
}

.icon-button {
    cursor: pointer;
}

.sms-empty-space {
    height: 50px;
}

/* Dropdown item */
.sms-dropdown-item {
    cursor: pointer;
}

/* Modal */
.sms-modal-header {
    font-weight: 600;
    font-size: 2rem;
}

.sms-modal-info {
    font-size: 1rem;
}

.sms-flex-basis-0 {
    flex-basis: 0px;
}

/* Rounded pill */
.sms-rounded-pill {
    border: 1px solid var(--sms-secondary-gray);
    border-radius: 0.8rem;
    padding: 0.3rem 0.7rem;
}

.sms-rounded-pill.active {
    background-color: var(--sms-primary-green);
    color: var(--sms-white) !important;
}

.sms-rounded-pill.hover:hover {
    color: var(--sms-white) !important;
    cursor: pointer;
}

.sms-rounded-pill.green:hover {
    background-color: var(--sms-primary-green);
}

.sms-rounded-pill.black {
    background-color: var(--sms-primary-black);
}

.sms-rounded-pill.orange {
    background-color: var(--sms-primary-orange);
}

.sms-rounded-pill.secondary-gray {
    background-color: var(--sms-secondary-gray);
}

.sms-rounded-pill.secondary-orange {
    background-color: var(--sms-secondary-orange);
}

/* Table */
.sms-table table {
    border-collapse: separate;
    border-spacing: 0rem 0.5rem;
}

.sms-table tbody tr {
    background-color: var(--sms-white);
}

.sms-table td:first-child,
.sms-table th:first-child {
    border-radius: 8px 0 0 8px;
}

.sms-table td:last-child,
.sms-table th:last-child {
    border-radius: 0 8px 8px 0;
}

/* Form controls */
.sms-checkbox {
    cursor: pointer;
}

/* Survey */
.sms-question-card {
    margin-bottom: 1rem;
}

.sms-question-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.5rem;
    border: 2px solid var(--sms-black);
}

.sms-question-content {
    background-color: var(--sms-white);
    border-radius: 1.5rem;
    padding: 0.8rem 1rem;
}

.sms-question-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sms-answer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
}
